html {
    user-select: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    cursor: default;
}
h1 {
    text-align: center;
    font-size: 100px;
    font-family: "Coda";
}

.timer {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 120px;
    border: solid black 10px;
    border-radius: 50px;
    color: white;
    background: black;
    font-family: "Unica One";
}


#wrapper {
    text-align: center;
}

.start {
    text-align: center;
    margin-top: 20px;
    margin-right: 30px;
    padding: 10px;
    display: inline-block;
    background: #008e17;
    color: white;
    font-size: 75px;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    font-family: "Bree Serif";
}

.pause {
    text-align: center;
    margin-top: 20px;
    margin-right: 30px;
    padding: 10px;
    display: inline-block;
    background: orange;
    color: white;
    font-size: 75px;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    font-family: "Bree Serif";
}

.stop {
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px;
    display: inline-block;
    background: red;
    color: white;
    font-size: 75px;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
    font-family: "Bree Serif";
}